@font-face {
	font-display: swap;
	font-family: 'Decovar Regular24'; 
	src: url('../../fonts/Decovar-VF.ttf');
}

// variable font
@mixin decovar {
	font-weight: 400;
	font-family: "Decovar Regular24", Helvetica, Arial, sans-serif; 
}